

# # Python
# __pycache__/
# *.py[cod]
# *$py.class

# # 가상 환경
# venv/
# env/
 .env

# # IDE 설정
# .vscode/
# .idea/

# # 운영체제 파일
# .DS_Store
# Thumbs.db

# # 개인 설정 파일
# config.ini
# secrets.json

# # 로그 파일
# *.log

# # 임시 파일
# *.tmp
# *.bak